<div class="row">
    <div class="col-md-4">
      <h1>Register</h1>
      <hr><br>
      <form (ngSubmit)="onRegister()" novalidate>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="enter username" [(ngModel)]="user.username" name="username" required>
            </div>
       <div class="form-group">
         <label for="email">Email</label>
         <input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required>
       </div>
       <div class="form-group">
         <label for="password">Password</label>
         <input type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required>
       </div>
       <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>