::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0, 0, 0, 0.3);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(0, 0, 0, 0.3);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(0, 0, 0, 0.3);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(0, 0, 0, 0.3);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgba(0, 0, 0, 0.3);
}

::placeholder { /* Most modern browsers support this now. */
   color:    rgba(0, 0, 0, 0.3);
}