<div id="main-container" style="width: 900px; height:900px; margin: auto; border: 1px solid rgba(0,0,0,0.1); border-radius: 5px; position: relative; top: 50px">
  
  <div class="container messageContainer" style="height:850px; width: 900px; overflow-y: auto">
    <div *ngFor="let message of messages" style="height: 30px; display: block;">
        <div *ngIf="message.nick === nick" style="clear: both;float: right; right:5px; position: relative; display: block; max-width: 780px;">
          <div style="border-radius: 30px; color: #fff; background-color: #008dd2;  padding: 6px 12px;margin-top: 1px; margin-bottom: 1px;" *ngIf="message.message" >
            <span style=" height: 30px; line-height:30px; font-size:16px; vertical-align: middle;">{{message.message}}</span>
          </div>
          <div *ngIf="message.image.changingThisBreaksApplicationSecurity" style="width: 100%; height: 100%; margin-top: 1px; margin-bottom: 1px; max-width: 640px; max-height: 480px; border: 1px solid rgba(0,0,0,0.1); border-radius: 15px;overflow: hidden; display: block;"><img [src]="message.image.changingThisBreaksApplicationSecurity" style="max-width: 640px; max-height: 480px;"/></div>
        </div>
        <div *ngIf="message.nick !== nick" style="clear: both;float: left; left:5px; position: relative; display: block; max-width: 780px;">
          <span >{{message.nick}}</span>:
          <div style="border-radius: 30px; background-color: rgba(0,0,0,0.05); padding: 6px 12px; display: inline-block; margin-top: 1px; margin-bottom: 1px;" *ngIf="message.message" >
            <span style=" height: 30px; line-height:30px; font-size:16px; vertical-align: middle;">{{message.message}}</span> 
          </div>
          <div *ngIf="message.image.changingThisBreaksApplicationSecurity" style="width: 100%; height: 100%;margin-top: 1px; margin-bottom: 1px;max-width: 640px; max-height: 480px; border: 1px solid rgba(0,0,0,0.1); border-radius: 15px;overflow: hidden; display: block"><img [src]="message.image.changingThisBreaksApplicationSecurity" style="max-width: 640px; max-height: 480px;"/></div>
        </div>
    </div>
  </div>

  <div class="container" style="height:49px; border-top: 1px solid rgba(0,0,0,0.1)">
    <form #chatForm="ngForm">
      <div style="width: 785px; display: inline-flex; padding-left:6px; top: -6px; position: relative;">
        <input type="text" id="message" name="message" style="line-height: 30px; width: 100%; border: none; font-size: 16px; outline: none;" (change)="inputChange()" [(ngModel)]="message" placeholder="Message..." />
      </div>
      <div style="width: 50px; height: 50px; display:  inline-flex;">
        <button type="button" (click)="openImage($event)" style="width: 50px; border: none; background: none; cursor: pointer; outline: none">
          <i class="material-icons" style="color: rgba(0,0,0,0.5)">insert_photo</i>
        </button>
        <input type="file" id="image" accept="image/*" (change)="getFiles($event)" hidden>
      </div>
      <div style="width: 50px; height: 50px; display: inline-flex">
        <button type="submit"(click)="sendMessage()" id="sendmessage" [disabled]="isDisabled" style="width: 50px">
          <i class="material-icons feed-icons">send</i>
        </button>
      </div>
    </form>
  </div>

</div>